<% content_for :title, "Editing in person interest resource" %>

<h1>Editing in person interest resource</h1>

<%= render "form", in_person_interest_resource: @in_person_interest_resource %>

<br>

<div>
  <%= link_to "Show this in person interest resource", @in_person_interest_resource %> |
  <%= link_to "Back to in person interest resources", in_person_interest_resources_path %>
</div>
