<p style="color: green"><%= notice %></p>

<% content_for :title, "In person interest resources" %>

<h1 class="page-heading">In person interest resources</h1>
<h3>Tagged with "<%= params[:tag] %>"</h3>

<div id="in_person_interest_resources">
  <% @in_person_interest_resources.tagged_with(params[:tag]).each do |in_person_interest_resource| %>
    <%= render in_person_interest_resource %>
  <% end %>
</div>

<%= link_to "New in person interest resource", new_in_person_interest_resource_path %>
