<% content_for :title, "New in person wellbeing resource" %>

<h1>New in person wellbeing resource</h1>

<%= render "form", in_person_wellbeing_resource: @in_person_wellbeing_resource %>

<br>

<div>
  <%= link_to "Back to in person wellbeing resources", in_person_wellbeing_resources_path %>
</div>
