<p style="color: green"><%= notice %></p>

<% content_for :title, "In person wellbeing resources" %>

<h1 class="page-heading">In person wellbeing resources</h1>
<h3>Tagged with "<%= params[:tag] %>"</h3>

<div id="in_person_wellbeing_resources">
  <% if @in_person_wellbeing_resources != nil %>
    <% @in_person_wellbeing_resources.tagged_with(params[:tag]).each do |in_person_wellbeing_resource| %>
      <%= render in_person_wellbeing_resource %>
    <% end %>
  <% end %>
</div>

<% if user_signed_in? %>
  <%= link_to "New in person wellbeing resource", new_in_person_wellbeing_resource_path %>
<% end %>
