<h1>Hello, Rails!</h1>

<%= link_to "Community Resources", community_resources_path %>

<div class="row mb-3 text-center">
  <div class="col-4 themed-grid-col">.col-4</div>
  <div class="col-4 themed-grid-col">.col-4</div>
  <div class="col-4 themed-grid-col">.col-4</div>
</div>