<div class="page-heading-container" style="height:70vh;">
	<h1 class="page-heading__bold">Still need to code this out</h1>
	<p>This will list a printer-friendly version of all the resources "added(+)" so folk can print off a sheet of self-selected resources.</p>
</div>