<% content_for :title, "Editing online peer and recovery resource" %>

<h1>Editing online peer and recovery resource</h1>

<%= render "form", online_peer_and_recovery_resource: @online_peer_and_recovery_resource %>

<br>

<div>
  <%= link_to "Show this online peer and recovery resource", @online_peer_and_recovery_resource %> |
  <%= link_to "Back to online peer and recovery resources", online_peer_and_recovery_resources_path %>
</div>
