<p style="color: green"><%= notice %></p>

<% content_for :title, "Online peer and recovery resources" %>

<h1>Online peer and recovery resources</h1>

<div id="online_peer_and_recovery_resources">
  <% @online_peer_and_recovery_resources.each do |online_peer_and_recovery_resource| %>
    <%= render online_peer_and_recovery_resource %>
  <% end %>
</div>

<% if user_signed_in? %>
  <%= link_to "New online peer and recovery resource", new_online_peer_and_recovery_resource_path %>
<% end %>
