<% content_for :title, "New online peer and recovery resource" %>

<h1>New online peer and recovery resource</h1>

<%= render "form", online_peer_and_recovery_resource: @online_peer_and_recovery_resource %>

<br>

<div>
  <%= link_to "Back to online peer and recovery resources", online_peer_and_recovery_resources_path %>
</div>
