/*
 * Bootstrap
 */

@import "bootstrap-sprockets";
@import "bootstrap";



/*
 * Variables
 */

$small: 999px;
$medium: 900px;


body {
	font-size: 17px !important;
  line-height: 1.7em;
  /*background: #bfbfbf;*/
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

strong, h1, h2, h3, h4, h5 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

h1 {
  font-size: 26px;
  font-weight: 700;
  margin: 40px 0px;
}

.page-heading {
	margin: 20px 0;
}

@media screen and (max-width: $small) { 
  body {
    
  }
}

footer {
  text-align: center;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.3);
  padding: 20px 0px 20px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.05);
  font-weight: 700;
}
@media screen and (max-width: $small) { 
  footer {
    padding: 20px !important;
    font-size: 13px !important;
    line-height: 1.75em !important;
  }
}


/*
 * Form styling
 */

.checkboxes-container {
  display: flex;

  .checkbox-option-container {
	  flex: 1;
	  margin: auto;
	}
}

.resource-form {
  width: 80%;
  margin: auto;
  background: white;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}



  
.form-submit-container {
  margin: 20px 0 0 0;
}

.form-field {
  display: flex;
  margin: 10px 0;
  text-align: left;

  label {
    flex: 1;
    text-align: left;
    min-width: 100px;
  }

  input, textarea, table {
  	flex: 5;
  }
}



/*
 * Show styling
 */
.resource-display {
  max-width: 80%;
  margin: 40px auto;
  padding: 40px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

   .display-field {
     display: flex;
     text-align: left;
     margin: 10px 0;

      .field-label {
        flex: 2;
      }

      .field-value {
        flex: 5;
      }
   }

   table {
     width: 100%;

     @media screen and (max-width: $small) { 
      font-size: 14px;
     }
  }
}
@media screen and (max-width: $small) { 
  .resource-display {
    max-width: 100%;
    padding: 5px 20px;;
  }

  .field-label {
    padding-right: 10px;
    margin-bottom: 10px;
  }

  .field-label > table {
    font-size: 14px;
  }

  .display-field {
    margin-bottom: 20px !important;
    flex-direction: column;
  }
}

/*
 * Home Page styling
 */

  .home__resource-container {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    display: flex;
    text-align: left;
    margin: 40px auto;
    padding: 40px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
  }

  .page-heading__bold {
    font-weight: 800;
    line-height: 1.3em;
    margin-bottom: 30px;
  }

  .resource-link, .resource-description {
    flex: 1;
  }

  .resource-link > h2 {
    margin-top: 0;
    font-weight: 700;
    line-height: 1.35em;
  }

  .resource-description {
    margin: 0 0 0 20px;

    @media screen and (max-width: $small) {
      ul {
        margin: 17px 0px 0px 16px !important;
        padding: 0px;
      }
    }
  }



  @media screen and (min-width: 1000px) {
    .home__resource-container {
      max-width: 80%;
    }
  }
  @media screen and (max-width: $small) {

    .page-heading-container {
      margin: 40px auto !important;
    }

    .page-heading__bold {
      margin-bottom: 30px;
    }

    .resource-link > h2 {
      margin: 0px !important;
      padding: 0px 0px 10px 0px;
      font-size: 23px;
      font-weight: 700;
      line-height: 1.4em;
    }

    .resource-link {
      margin-bottom: 10px;
    }

    .resource-description {
      flex: 2;
      margin: 0;
    }

    .home__resource-container {
      flex-direction: column;
      padding: 30px 20px;
    }

    .page-heading-container {
      max-width: 100% !important;
      font-size: 17px !important;
    }
  }

  .resource-description > ul {
    margin: 20px 0 0px 0;
  }

  .resource-description > ul > li {
    margin: 0 0 10px 0;
  }

  .page-heading-container {
    max-width: 80%;
    margin: 100px auto;
    font-size: 20px;
    line-height: 1.8em;
  }

.show-link {
  text-align:center;
  margin: 30px 0px 0px 0px;
  font-weight: 600;
}

.show-link > a {
  text-decoration: underline;
}

@media screen and (max-width: $small) {
  .show-link {
    margin: 50px 0px;
  }
}


/*
 * Tagged Page Style 
 */

.tagged-with {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 20px 0px;
  font-size: 14px;
  font-weight: 600;
  max-width: 80%;
  margin: auto;
}

@media screen and (max-width: $small) { 
  .tagged-with {
    max-width: 100%;
  }
}