/*
 * Bootstrap
 */

@import "bootstrap-sprockets";
@import "bootstrap";


body {
	font-size: 14px !important;
  background: #bfbfbf;
}

.page-heading {
	margin: 20px 0;
}


/*
 * Form styling
 */

.checkboxes-container {
  display: flex;

  .checkbox-option-container {
	  flex: 1;
	  margin: auto;
	}
}

.resource-form {
  width: 80%;
  margin: auto;
  background: white;
  padding: 20px;
}



  
.form-submit-container {
  margin: 20px 0 0 0;
}

.form-field {
  display: flex;
  margin: 10px 0;
  text-align: left;

  label {
    flex: 1;
    text-align: left;
    min-width: 100px;
  }

  input, textarea, table {
  	flex: 5;
  }
}



/*
 * Show styling
 */
.resource-display {
  max-width: 500px;
  margin: 40px auto;
  padding: 5px 20px;
  background: #fff;

   .display-field {
     display: flex;
     text-align: left;
     margin: 10px 0;

      .field-label {
        flex: 2;
      }

      .field-value {
        flex: 5;
      }
   }

   table {
     width: 100%;
  }
}