<% content_for :title, "Editing in person recovery resource" %>

<h1>Editing in person recovery resource</h1>

<%= render "form", in_person_recovery_resource: @in_person_recovery_resource %>

<br>

<div>
  <%= link_to "Show this in person recovery resource", @in_person_recovery_resource %> |
  <%= link_to "Back to in person recovery resources", in_person_recovery_resources_path %>
</div>
