<% content_for :title, "New in person recovery resource" %>

<h1>New in person recovery resource</h1>

<%= render "form", in_person_recovery_resource: @in_person_recovery_resource %>

<br>

<div>
  <%= link_to "Back to in person recovery resources", in_person_recovery_resources_path %>
</div>
